<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="/static/event/imgs/afultimate_favicon.ico" />
    <link rel="stylesheet" href="/static/event/css/normalize.css" />
    <link rel="stylesheet" href="/static/event/css/master.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  
  <body>
    <form method='get'>
      Select Event
      <select id='select_event' name='event'>
	{% for evt in events %}
	<option value='{{evt.pk}}'>{{evt.name}}</option>
	{% endfor %}
      </select>
      <button type='submit'>Go</button>
    </form>

    <div id='subpage'>
      {% block subpage %}{% endblock %}
    </div>

    <script>
      {% include "event/master.js" %}
    </script>
  </body>
</html>
